.App {
  text-align: center;
}

.ulIndex{
  list-style-type: none;
  margin:0;
  padding:0
}

.listIndex{
  display:inline;
  padding: 10px;
}

.display{
  margin:100px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  color: brown;
  justify-self: left;
  padding: 5px;
  flex-wrap: wrap;

}

/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */